---
import { IconoUbicacion } from "@components/svg";
import styles from "./index.module.scss";
---

<div class={styles.ubicacion}>
  <div class={styles.ubicacion__direccion}>
    <IconoUbicacion />
    <p>Antonio de León #12, Centro, 69000</p>
  </div>
  <p class={styles.ciudad}>Heroica Cdad. de Huajuapan de León, Oax.</p>
</div>
