---
import styles from './index.module.scss';
import { IconoTelefono } from '@/components/svg';
---
<button class={styles.buttonOrdenar}>
    <div class={styles.buttonOrdenar__icon}>
        <IconoTelefono />
    </div>
    <div class={styles.buttonOrdenar__text}>
        <p>Ordenar ahora</p>
    </div>
</button>