@use '@styles/abstracts/colors' as *;
@use '@styles/abstracts/fonts' as *;


.seccionFotos{
    .seccionFotos__titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        p:first-child{
            font-family: $font-secondary;
            font-weight: 300;
            color: $color-secondary-90;
            font-size: 2.3rem;
            line-height: 117%;
        }
        p:last-child{
            font-weight: 500;
            color: $color-secondary-90;
            font-size: 2rem;
            line-height: 117%;
        }
    }
    .seccionFotos__carrusel{
        margin-top: .955rem;
    }
}

:global(.swiper-pagination-bullet-active){
  background: #FFF !important;
}