---
import '@styles/main.scss';
import { Header, Fondo, Ubicacion, NuestrosProductos } from '@components/ui';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Gelatinas Lolita</title>
	</head>
	<body>
		<Header />
		<Fondo />
		<Ubicacion />
		<NuestrosProductos />
	</body>
</html>
