---
import { LogoLolita } from "@components/svg";
import styles from "./index.module.scss";
---

<header class={styles.header}>
  <div class={styles.header__container}>
    <LogoLolita />
  </div>
</header>
