---
import { LogoLolita } from "@components/svg";
import { ButtonOrdenar } from "../Button";
import styles from "./index.module.scss";
---

<header class={styles.header}>
  <div class={styles.header__container}>
    <LogoLolita />
    <div class={styles.buttonOrdenarContainer}>
      <ButtonOrdenar />
    </div>
  </div>
</header>
