@use '@styles/abstracts/colors' as *;
@use '@styles/abstracts/breakpoints' as *;

.header {
    background-color: $color-principal-100;
    display: flex;
    justify-content: center;
    &__container {
        color: $color-secondary-100;
        padding: 1rem 0;
    }
    .buttonOrdenarContainer{
        display: none;
    }
    @include respond-to('tablet'){
        .buttonOrdenarContainer{
            display: block;
            position: absolute;
            right: 1rem;
            top: 1rem;
            z-index: 10;
        }
    }
}
@include respond-to('tablet'){
    .header{
        position: sticky;
        top: 0;
        z-index: 20;
        .header__container{
            padding: 1rem 0;
        }
    }
}